.booking-image {
  width: 70%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.info-booking{
  position: relative
}


.booking-recap {
  position: absolute;
  top: 35px;
  width: 100%;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 20px;
}
