/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
.wraper-home {
  padding-top: 30px;
  padding-bottom: 50px;
  background-color: #E9E9E9;
}

.wraper-home li {
  list-style: none;
}

.wraper h1 {
  font-weight: bold;
  padding-bottom: 10px;
}

.home-latest-skills {
  padding-top: 30px;
  padding-bottom: 30px;
}

.see-all-home {
  margin: 30px;
}

.home-latest-skills h1 {
  font-weight: bold;
  padding-bottom: 25px;
}
