/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
.wraper-home {
  margin-top: 50px;
  margin-bottom: 50px;
}

.wraper-home li {
  list-style: none;
}
