
/* -------------------------------------
 * CSS code specific to profile page
 * ------------------------------------- */
.media {
  display: flex;
}
.media-body {
  flex: 1 1 auto;
  padding: 20px;
  padding-bottom: 50px;
}
.media-body img {
  width: 50%;
}

.media-section {
  margin: 40px auto;
  h2 {
    font-family: 'Montserrat', sans-serif;
    padding: 20px;
    color: #45B69C;
    font-weight: bold;
  }
}
.media-section:first-child {
  margin-top: 0;
}
.media-section:last-child {
  margin-bottom: 0;
}

.skill-image {
  width: 80px;
  padding: 20px;
}


.profile-picture {
  margin: 20px;
}

.profile-icon {
  color: #32b796;
  font-size: 20px;
}

.top-part-profile {
  background-color: #CBD7DC;
  padding: 10px;
}

.skill-name {
  text-decoration: none;
  &:hover {
    text-decoration: none;
    color: #45B69C;
  }
}
