.skill-details {
  padding: 30px;
  margin-top: 30px;
  margin-bottom: 60px;
  width: 100%;
}

.map-skill {
  margin: 60px;
}

.final-price {
  padding-top: 20px;
}


.skill-form {
  background-color: #CDF4E8;
  padding: 40px 40px 27px 40px;
}

.image-skill {
  margin: 10px;
  padding: 50px;
}

.booking-form {
  margin-top: 0px;
  margin-bottom: 20px;
}

.skill-button {
  margin-top: 30px;
}

.wraper-skill {
  background: linear-gradient(-225deg, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.4) 50%), image-url("background.jpg") no-repeat center;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
}

.padded-skill {
  margin-bottom: 50px;
}

.button-login-show {
  margin-top: 25px;
}
