.skill-details {
  background-color: #E9E9E9;
  padding: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;
}

.map-skill {
  margin: 50px;
}

.skill-formulaire {
  margin: 50px;
}

.final-price {
  padding-top: 20px;
}


.skill-form {
  background-color: #CDF4E8;
  padding: 40px 40px 27px 40px;
  margin-bottom: 120px;
}

