<div class="footer text-center">
  <a href="#" class="share-link">
    <i class="fa fa-facebook"></i>
  </a>
  <a href="#" class="share-link">
    <i class="fa fa-twitter"></i>
  </a>
  <a href="#" class="share-link">
    <i class="fa fa-envelope-o"></i>
  </a>
</div>
