<div class="banner">
  <div class="banner-content">
    <h1>Rent a Skill</h1>
    <p>Need to hire a Skillman ?</p>

    <%= link_to "Discover our skills", "/skills", class: "btn btn-primary btn-lg" %>
  </div>
</div>
