/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Paddings
.padded {
  padding-top: 5em;
  padding-bottom: 5em;
}

// Backgrounds
.bg-black {
  background: #4a4a4a;
}
.bg-grey {
  background: #aeaeae;
}
.bg-blue {
  background: #00a3e1;
}
.bg-dark-blue {
  background: #3b5998;
}

.image-size {
  background-size: cover;
  width: 400px;
  height: 300px;
}

.background-beige {
  background-color: #f7f7f7;
}

.skill-form {
  background-color: #C2F2E4;
}

.padded-form {
  padding-top: 3em;
  padding-bottom: 3em;
  padding-left: 2em;
  padding-right: 2em;
}
