/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Paddings
.padded {
  padding-top: 5em;
  padding-bottom: 5em;
}

// Backgrounds
.bg-black {
  background: #4a4a4a;
}
.bg-grey {
  background: #aeaeae;
}
.bg-blue {
  background: #00a3e1;
}
.bg-dark-blue {
  background: #3b5998;
}

.image-size {
  background-size: cover;
  width: 80%;
  margin: 30px;
}

body {
  background-color: #F5F5F5;
  font-family: 'Open Sans', sans-serif;
  h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
  }
}

.back-button {
  margin: 20px;
  background-color: $darkgrey;
  border-radius: 2px;
  text-decoration: none;
  &:hover {
    color: #A5BAC2;
    transition: all 0.4s;
    text-decoration: none;
    color: white;
  }
}

.skill-form {
  background-color: #CDF4E8;
  margin-top: 120px;
  margin-bottom: 120px;
}

.padded-form {
  padding: 3em 2em 3em 2em;
}

.facebook-color {
  background-color: #4267b2;
}

.margin-button {
  margin: 5px;
}

.full-page {
  height: 100vh;
}
