.card-booking {
  height: 350px;
  width: 80%;
  background-size: cover !important;
  color: #333333;
  position: relative;
  margin: auto;
  border-radius:2px;
  transition: all .2s ease;
  h4 {
    margin-top: 30px;
  }
}

.card-booking-image {
  padding: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.card-booking-description {
  padding: 5px;
  p {
  font-size: 13px;
  }
}

.card-booking-title {
  position: absolute;
  top: 88px;
  width: 100%;
  text-decoration: none;
  color:gray;
  font-weight: bold;
  font-size: 28px;
    &:hover {
      color:white;
      text-decoration: none;
    }
}


.booking-wrapper  {
  background-color: #E6E6E6;
  border: 1px solid #999999;
  margin: 100px auto;
}

.booking-title {
  color: #7293a0;
  font-weight: light;
}
