<div class="container">
  <div class="row">
    <h1 class="text-center padded">Reviews</h1>
    <% @reviews.each do |review| %>
      <h1><%= review.title %></h1>
      <%= review.rating %>
    <%= end %>
  </div>
</div>
